{#  Convert the gallery.html to a Jinja template
    and display it in index.html  #}
{% extends 'index.html' %}

{% block content %}

{#  Loop over the images list to get the data and
    for every image create a thumbnail  #}
{% for list in images %}
    <div class="image">
        <a class="image-hover" href="{{ list['image'] }}">
            <div class="image-title">{{ list['title'] }}</div>
            <div class="image-line"></div>
            <div class="image-caption">{{ list['description'] }}
            </div>
        </a>
        <img src="{{ list['image'] }}" class="image-thumbnail">
    </div>
{% endfor %}

{% endblock %}








